.row {
  margin-bottom: 0;
}

.btn-flat:hover {
  background-color: transparent;
}

header,
main,
footer,
nav {
  padding-left: 258px;
}

nav:nth-child(2) {
  padding-left: 0px;
}

@media only screen and (max-width: 992px) {

  header,
  main,
  footer,
  nav {
    padding-left: 0;
  }
}

nav {
  background-color: #133159;
}

nav i {
  float: left;
  margin-right: 8px;
}


.side {
  /* width: 258px; */
  height: 1024px;
  background-color: #133159;
  margin-left: -11px;
}

body {
  height: 1233px;
  background-color: white;
}

.sidenav {
  width: 258px !important;
}

.sidenav .material-icons {
  font-size: 24px;
  color: white !important;
}


#slide-out {
  overflow-y: scroll;
}

#slide-out::-webkit-scrollbar {
  display: none;
}

.sidenav li>a {
  color: white;
  margin-right: 10px;
  height: 55px !important;
}

.active {
  background-color: #3C7EF3 !important;
  width: 218px;
  box-shadow: 0px 30px 12px -20px rgba(15, 36, 64, 0.5);
  border-radius: 10px;
  height: 50px;
  margin-left: 20px;
}



.nav-img {
  width: 39px;
}

.Marketing {
  width: 24px;
}

.find {
  width: 22.51px;
}

.reporting {
  width: 24px;
}

.path {
  width: 26px;
}

.call {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.call2 {
  width: 25px;
  margin-top: 22px;
  cursor: pointer;
}

#icon_prefix {
  width: 190px;
  height: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}


#icon_prefixTwo {
  width: 299px !important;
  height: 26px !important;
  background-color: white !important;
  border-radius: 10px !important;
  padding: 5px !important;
  border: 1px solid gray !important;
}

.input-field.suffix i {
  position: absolute;
  margin-right: -85px;
  font-size: 17px;
  transition: color .2s;
  top: 0px;
  right: 0px;
  color: black;
}





.input-field.suffix input,
.input-field.suffix textarea {
  margin-right: 1rem;
  width: 92%;
  width: calc(100% - 3rem);
}


@media only screen and (max-width: 992px) {
  .input-field.suffix input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .input-field.suffix input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}

select.browser-default {
  background-color: #133159 !important;
  width: 180%;
  padding: 0px !important;
  border: 0px !important;
  border-radius: 2px;
  height: 28px;
  color: white;
  margin-top: 10px;
  margin-left: -33px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* padding: 10px; */
}




/*================ Deal category start=========== */

.bot {
  height: 209px;
  background-color: #F3F5F7;
}

.bot_two {
  background-color: #F3F5F7;
  height: 1233px;
  padding: 20px;
}

.bot_three {
  background-color: white;
  height: 1123px;
  border-radius: 10px;
  padding: 10px;
}

.pra {
  color: black;
  margin-left: -260px;
}

.navTwo {
  background-color: white;

}


.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.iconmad {
  color: black;
  background-color: #F3F5F7;
  padding: 5px;
}

.iconmadTwo {
  color: white;
  background-color: #133159;
  padding: 5px;

}

.catImg {
  width: 24px;
}

.liSpace {
  margin-right: -20px;
}

select.browser-defaultTwo {
  background-color: #178a26 !important;
  width: 180% !important;
  padding: 0px !important;
  border: 0px !important;
  border-radius: 2px !important;
  height: 28px !important;
  color: white !important;
  margin-top: 10px !important;
  margin-left: -33px !important;
}

.bot_four {
  background-color: #F3F5F7;
  /* width: 1000px; */
  /* height: 867px; */
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  /* overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap */
}



#scrolly {
  width: 1000px;
  height: 190px;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap;
}

#scrollyTwo {
  width: 22%;
  height: 622px;
  overflow: auto;
  overflow-x: hidden;
  white-space: nowrap;
  border: 1px solid gray;
  margin: 10px;


}


.scrollChild {
  background-color: white;
  height: 143px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;

}


.scrollText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.scrollSpan {
  color: #3C7EF3;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.scrollChild p {
  color: #8896A8;
  line-height: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

}

.IconImage {
  width: 19px;
}

.IconImageTwo {
  width: 20px;
  margin-left: 15px;
}


#container {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 680px;
}


#container::-webkit-scrollbar {
  width: 8px;  /* width of the entire scrollbar */
}

#container::-webkit-scrollbar-track {
  background: #eaeff1;        /* color of the tracking area */
  margin-top: 10px;
  margin-bottom: 10px;
}

#container::-webkit-scrollbar-thumb {
  background-color: #133159;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

#container::-webkit-scrollbar-button {
  width: 0px; 
  height: 230px; 
}

#objects {
  width: auto;
  white-space: nowrap;
  background-color: #F3F5F7;
  height: 400px;
}

.object {
  display: inline-block;
  border: 1px solid white;
  width: 230px;
  padding: 10px;
  height: 622px;
  overflow: auto;
  overflow-x: hidden;
  white-space: nowrap;
  border: 1px solid #dee0e6;
  margin: 10px;
  border-radius: 10px;

  
}

.object::-webkit-scrollbar {
  width: 8px;  /* width of the entire scrollbar */
}

.object::-webkit-scrollbar-track {
  background: #eaeff1;        /* color of the tracking area */
  margin-top: 10px;
  margin-bottom: 10px;
}

.object::-webkit-scrollbar-thumb {
  background-color: #133159;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.object::-webkit-scrollbar-button {
  width: 0px; 
  height: 230px; 
}
html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #133159;
}
body::-webkit-scrollbar {
  width: 11px;
  
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.img_add {
  
  margin-left: 80px;

}

.child {
  background: white;
  width: 70px;
  height: 70px;
  margin-top: 130%;
}

.child p {
  text-align: center;
  color: gray;
  margin-top: -16px;
  margin-left: 30px;
}

.category_items {
  text-align: center;
  height: 50px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #FF5858;
  box-sizing: border-box;
  border-radius: 6px;
  color: red;
}

.category_itemsTwo {
  text-align: center;
  height: 50px;
  padding: 10px;
  background: white;;
  border: 1px solid #6FCF97;;
  box-sizing: border-box;
  border-radius: 6px;
  color: #6FCF97;
}


.category_itemsThree {
  text-align: center;
  height: 50px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #FF5858;
  box-sizing: border-box;
  border-radius: 6px;
  color: #FF5858; 
}

.category_itemsFour {
  text-align: center;
  height: 50px;
  padding: 10px;
  background: white;;
  border: 1px solid #FFB053;
  box-sizing: border-box;
  border-radius: 6px;
  color: #FFB053;
}

.category_itemsTwo img{
  margin-right: 10px;
}

.lighten{
  background: rgba(60, 126, 243, 0.1);
  height: 90px;
}

input#appt {

  border-bottom: none !important;
  border: 1px solid gray !important;
  border-radius: 5px !important;
  width: 60% !important;
  height: 2rem !important;
  margin-top: 10px !important;
}

.bot_child{
  padding-left: 40px;
  padding-right:40px ;
}

.navFloat{
  float: right;
}



@media only screen and (max-width: 1100px) {

  .sidenav {
    width: 158px !important;
}

.d {
 display: none;
}

#icon_prefix {

  margin-right: 300px;
}


/* 
.navFloat{
  margin-right: -100px !important;
} */

/* header, main, footer, nav {
  padding-left: 158px;
} */
}

